/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
$blue:#29d9d5;
$black:#000 ;
$white:#fff;
$bg-color:linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
$black-bg:rgba(17,17,17,.2);
$border:.2rem solid $blue;